html, body {
    background-color: #c2c1be;
}

table.center {
    background-color: #4e4d5a;
    border:2px solid;
    padding:10px 40px; 
    width:200px;
    resize:both;
    overflow:auto;
  }
td {
    padding: 3px;
    text-align: left;
  }  

